
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Düzce Üniversitesi Öğrenci Toplulukları Başvuru Ve Güncelleme Sistemi
            </header>

            <div class="panel-body" style="padding: 30px">
                <span style="color:red">*</span>  Yeni Topluluk başvursuna ilişkin formları doldurmak için <a href="/Home/form1">Buraya</a> Tıklayınız.<br />
                <span style="color:red">*</span>  Topluluk Güncellemeye ilişkin formları doldurmak için <a href="/Guncelle/form1">Buraya</a> Tıklayınız.<br />
                <span style="color:red">*</span>  Düzce Üniversitesi Öğrenci Toplulukları Yönergesi ve Eklerini indirmek için <a href="~/Docs/DÜ Öğrenci Toplulukları Yönergesi ve Ekleri.rar">Buraya</a> Tıklayınız.<br />
            </div>

        </section>
    </div>
</div>

