USE [ToplulukDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[eMail] [nvarchar](100) NULL,
	[sifre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Basvuru]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basvuru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[toplulukAdi] [nvarchar](150) NULL,
	[toplulukAmac] [nvarchar](500) NULL,
	[baskanAdi] [nvarchar](100) NULL,
	[baskanSoyadi] [nvarchar](100) NULL,
	[tarih] [date] NULL,
	[saat] [nvarchar](50) NULL,
	[mekan] [nvarchar](100) NULL,
	[toplantiNo] [int] NULL,
	[adimNo] [int] NULL,
	[uyeSayisi] [int] NULL,
	[akademikYıl] [nvarchar](50) NULL,
	[toplantiTarihi] [date] NULL,
	[marscı] [nvarchar](100) NULL,
	[divanBaskanAdi] [nvarchar](100) NULL,
	[divanBaskanSoyadi] [nvarchar](100) NULL,
	[toplantiNiteligi] [bit] NULL,
	[kurulusTarihi] [date] NULL,
	[tuzukDegisikligi] [bit] NULL,
	[kullanıcıID] [int] NULL,
	[yazmanAdi] [nvarchar](50) NULL,
	[yazmanSoyadi] [nvarchar](50) NULL,
	[gUyeSayisi] [int] NULL,
	[etkinlik] [nvarchar](400) NULL,
	[butce] [nvarchar](400) NULL,
	[baskaKurul] [nvarchar](400) NULL,
	[bkUyeSecimi] [nvarchar](400) NULL,
	[kapat] [bit] NULL,
 CONSTRAINT [PK_Basvuru] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Danisman]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danisman](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[akademikBirim] [nvarchar](150) NULL,
	[basvuruID] [int] NULL,
	[aktif] [bit] NULL,
 CONSTRAINT [PK_Danisman] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DenetimKurulu]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DenetimKurulu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[basvuruID] [int] NULL,
	[ogrNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_DenetimKurulu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FaliyetPlani]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaliyetPlani](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[faliyetID] [int] NULL,
	[faliyetTürü] [nvarchar](100) NULL,
	[faliyetAmaci] [nvarchar](500) NULL,
	[tarih] [date] NULL,
	[saat] [nvarchar](50) NULL,
	[yerleske] [nvarchar](50) NULL,
 CONSTRAINT [PK_FaliyetPlani] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GDanisman]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDanisman](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[akademikBirim] [nvarchar](150) NULL,
	[GuncelleID] [int] NULL,
	[aktif] [bit] NULL,
 CONSTRAINT [PK_GDanisman] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GDenetimKurulu]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDenetimKurulu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[GuncelleID] [int] NULL,
	[ogrNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_GDenetimKurulu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GFaliyetPlani]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GFaliyetPlani](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[faliyetID] [int] NULL,
	[faliyetTürü] [nvarchar](100) NULL,
	[faliyetAmaci] [nvarchar](500) NULL,
	[tarih] [date] NULL,
	[saat] [nvarchar](50) NULL,
	[yerleske] [nvarchar](50) NULL,
 CONSTRAINT [PK_GFaliyetPlani] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOgrenciListesi]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOgrenciListesi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](100) NULL,
	[soyadi] [nvarchar](100) NULL,
	[fak] [nvarchar](200) NULL,
	[tc] [nvarchar](100) NULL,
	[ogrNo] [nvarchar](100) NULL,
	[tel] [nvarchar](100) NULL,
	[mail] [nvarchar](100) NULL,
	[GuncelleID] [int] NULL,
 CONSTRAINT [PK_GOgrenciListesi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Guncelle]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guncelle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[toplulukAdi] [nvarchar](150) NULL,
	[toplulukAmac] [nvarchar](500) NULL,
	[baskanAdi] [nvarchar](100) NULL,
	[baskanSoyadi] [nvarchar](100) NULL,
	[tarih] [date] NULL,
	[saat] [nvarchar](50) NULL,
	[mekan] [nvarchar](100) NULL,
	[toplantiNo] [int] NULL,
	[adimNo] [int] NULL,
	[uyeSayisi] [int] NULL,
	[akademikYıl] [nvarchar](50) NULL,
	[toplantiTarihi] [date] NULL,
	[marscı] [nvarchar](100) NULL,
	[divanBaskanAdi] [nvarchar](100) NULL,
	[divanBaskanSoyadi] [nvarchar](100) NULL,
	[toplantiNiteligi] [bit] NULL,
	[kurulusTarihi] [date] NULL,
	[tuzukDegisikligi] [bit] NULL,
	[kullanıcıID] [int] NULL,
	[yazmanAdi] [nvarchar](50) NULL,
	[yazmanSoyadi] [nvarchar](50) NULL,
	[gUyeSayisi] [int] NULL,
	[etkinlik] [nvarchar](400) NULL,
	[butce] [nvarchar](400) NULL,
	[baskaKurul] [nvarchar](400) NULL,
	[bkUyeSecimi] [nvarchar](400) NULL,
	[kapat] [bit] NULL,
 CONSTRAINT [PK_Guncelle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GYeniUye]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GYeniUye](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[GuncelleID] [int] NULL,
 CONSTRAINT [PK_GYeniUye] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GYonetimKurulu]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GYonetimKurulu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[bolum] [nvarchar](100) NULL,
	[adres] [nvarchar](500) NULL,
	[tc] [nvarchar](50) NULL,
	[fakulte] [nvarchar](100) NULL,
	[ogrNo] [nvarchar](50) NULL,
	[gsm] [nvarchar](50) NULL,
	[evTel] [nvarchar](50) NULL,
	[eMail] [nvarchar](100) NULL,
	[GuncelleID] [int] NULL,
 CONSTRAINT [PK_GYonetimKurulu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](100) NULL,
	[soyadi] [nvarchar](100) NULL,
	[ogrMail] [nvarchar](100) NULL,
	[sifre] [nvarchar](100) NULL,
	[ogrNo] [nvarchar](100) NULL,
	[tc] [nvarchar](100) NULL,
	[kayitTarihi] [date] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OgrenciListesi]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciListesi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](100) NULL,
	[soyadi] [nvarchar](100) NULL,
	[fak] [nvarchar](200) NULL,
	[tc] [nvarchar](100) NULL,
	[ogrNo] [nvarchar](100) NULL,
	[tel] [nvarchar](100) NULL,
	[mail] [nvarchar](100) NULL,
	[basvuruID] [int] NULL,
 CONSTRAINT [PK_ogrenciListesi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YeniUye]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeniUye](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[basvuruID] [int] NULL,
 CONSTRAINT [PK_YeniUye] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YonetimKurulu]    Script Date: 13.09.2020 17:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YonetimKurulu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NULL,
	[soyadi] [nvarchar](50) NULL,
	[unvan] [nvarchar](50) NULL,
	[bolum] [nvarchar](100) NULL,
	[adres] [nvarchar](500) NULL,
	[tc] [nvarchar](50) NULL,
	[fakulte] [nvarchar](100) NULL,
	[ogrNo] [nvarchar](50) NULL,
	[gsm] [nvarchar](50) NULL,
	[evTel] [nvarchar](50) NULL,
	[eMail] [nvarchar](100) NULL,
	[basvuruID] [int] NULL,
	[Baskan] [bit] NULL,
 CONSTRAINT [PK_YonetimKurulu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [adi], [soyadi], [eMail], [sifre]) VALUES (1, N'Mehmet', N'TEST', N'mehmet.test@gmail.com', N'123')
INSERT [dbo].[Admin] ([ID], [adi], [soyadi], [eMail], [sifre]) VALUES (2, N'Mehmet', N'ÖZÇELİK', N'mehmet.test@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Basvuru] ON 

SET IDENTITY_INSERT [dbo].[Basvuru] OFF
SET IDENTITY_INSERT [dbo].[Danisman] ON 

INSERT [dbo].[Danisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [basvuruID], [aktif]) VALUES (3, N'O', N'O', N'Sekreter', N'Geyve', 2, NULL)
INSERT [dbo].[Danisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [basvuruID], [aktif]) VALUES (6, N'Fatih', N'Kayaalp', N'Yrd.Doç.', N'Mühendislik Fakültesi', 8, 0)
INSERT [dbo].[Danisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [basvuruID], [aktif]) VALUES (7, N'Resul', N'Kara', N'Prof.Dr.', N'Mühendislik', 8, 1)
SET IDENTITY_INSERT [dbo].[Danisman] OFF
SET IDENTITY_INSERT [dbo].[DenetimKurulu] ON 

INSERT [dbo].[DenetimKurulu] ([ID], [adi], [soyadi], [unvan], [basvuruID], [ogrNo]) VALUES (7, N'Abdullah', N'Cangul', N'Denetim Kurulu Başkanı', 11, N'141002011')
INSERT [dbo].[DenetimKurulu] ([ID], [adi], [soyadi], [unvan], [basvuruID], [ogrNo]) VALUES (8, N'Hüsnüye', N'Hüsnü', N'Üye', 11, N'151001035')
INSERT [dbo].[DenetimKurulu] ([ID], [adi], [soyadi], [unvan], [basvuruID], [ogrNo]) VALUES (9, N'Zehra', N'Tunç', N'Üye', 11, N'151001027')
SET IDENTITY_INSERT [dbo].[DenetimKurulu] OFF
SET IDENTITY_INSERT [dbo].[FaliyetPlani] ON 

INSERT [dbo].[FaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (1, 3, N'dfdf', N'dfdf', CAST(N'2018-11-07' AS Date), NULL, N'dffdf')
INSERT [dbo].[FaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (7, 8, N'Topluluk Buluşması', N'Çay içme', CAST(N'2018-11-08' AS Date), NULL, N'Cafe')
INSERT [dbo].[FaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (8, 8, N'Topluluk Buluşması', N'Çay içme', CAST(N'2018-11-08' AS Date), NULL, N'Cafe')
SET IDENTITY_INSERT [dbo].[FaliyetPlani] OFF
SET IDENTITY_INSERT [dbo].[GDanisman] ON 

INSERT [dbo].[GDanisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [GuncelleID], [aktif]) VALUES (5, N'hamza', N'taş', N'prof', N'Mühendislik Fakültesi', 2, 0)
INSERT [dbo].[GDanisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [GuncelleID], [aktif]) VALUES (6, N'resul', N'kara', N'arş.gör', N'Mühendislik', 2, 1)
INSERT [dbo].[GDanisman] ([ID], [adi], [soyadi], [unvan], [akademikBirim], [GuncelleID], [aktif]) VALUES (7, N'Fatih', N'Kayaalp', N'Yrd.Doç.', N'Mühendislik Fakültesi', 7, 0)
SET IDENTITY_INSERT [dbo].[GDanisman] OFF
SET IDENTITY_INSERT [dbo].[GDenetimKurulu] ON 

INSERT [dbo].[GDenetimKurulu] ([ID], [adi], [soyadi], [unvan], [GuncelleID], [ogrNo]) VALUES (1, N'Burak', N'Taş', N'Denetim Kurulu Başkanı', 12, N'151001037')
INSERT [dbo].[GDenetimKurulu] ([ID], [adi], [soyadi], [unvan], [GuncelleID], [ogrNo]) VALUES (2, N'Burak', N'Taş', N'Üye', 12, N'151001028')
INSERT [dbo].[GDenetimKurulu] ([ID], [adi], [soyadi], [unvan], [GuncelleID], [ogrNo]) VALUES (3, N'Abdullah', N'Taş', N'Üye', 12, N'151001031')
SET IDENTITY_INSERT [dbo].[GDenetimKurulu] OFF
SET IDENTITY_INSERT [dbo].[GFaliyetPlani] ON 

INSERT [dbo].[GFaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (1, 2, N'fdsffdsg', N'dfgdfgdfgsdf', CAST(N'2018-11-10' AS Date), NULL, N'fdgsdfg')
INSERT [dbo].[GFaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (2, 2, N'a', N'a', CAST(N'2018-11-17' AS Date), NULL, N'c')
INSERT [dbo].[GFaliyetPlani] ([ID], [faliyetID], [faliyetTürü], [faliyetAmaci], [tarih], [saat], [yerleske]) VALUES (3, 2, N'b', N'c', CAST(N'2018-11-20' AS Date), NULL, N'f')
SET IDENTITY_INSERT [dbo].[GFaliyetPlani] OFF
SET IDENTITY_INSERT [dbo].[GOgrenciListesi] ON 

INSERT [dbo].[GOgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [GuncelleID]) VALUES (2, N'Hamza', N'Taş', N'Mühendislik Fakültesi', N'26285617580', N'151001020', N'05346682748', N'hamza51719@ogr.duzce.edu.tr', 2)
INSERT [dbo].[GOgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [GuncelleID]) VALUES (3, N'Burak', N'Taş', N'Mühendislik Fakültesi', N'26285617580', N'151001027', N'05346682748', N'hamzatas@gmail.com', 2)
INSERT [dbo].[GOgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [GuncelleID]) VALUES (5, N'Burak', N'Taş', N'Mühendislik Fakültesi', N'26285617580', N'151001041', N'05346682748', N'burak@burak.com', NULL)
SET IDENTITY_INSERT [dbo].[GOgrenciListesi] OFF
SET IDENTITY_INSERT [dbo].[Guncelle] ON 

INSERT [dbo].[Guncelle] ([ID], [toplulukAdi], [toplulukAmac], [baskanAdi], [baskanSoyadi], [tarih], [saat], [mekan], [toplantiNo], [adimNo], [uyeSayisi], [akademikYıl], [toplantiTarihi], [marscı], [divanBaskanAdi], [divanBaskanSoyadi], [toplantiNiteligi], [kurulusTarihi], [tuzukDegisikligi], [kullanıcıID], [yazmanAdi], [yazmanSoyadi], [gUyeSayisi], [etkinlik], [butce], [baskaKurul], [bkUyeSecimi], [kapat]) VALUES (9, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2018-12-12' AS Date), NULL, 10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Guncelle] OFF
SET IDENTITY_INSERT [dbo].[GYonetimKurulu] ON 

INSERT [dbo].[GYonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [GuncelleID]) VALUES (1, N'Burak', N'Taş', N'Başkan Yardımcısı', N'dsadsa', N'dsadsa', N'26285617580', N'Mühendislik Fakültesi', N'151001030', N'05346682748', N'asdasd', N'fatih@h.com', 12)
INSERT [dbo].[GYonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [GuncelleID]) VALUES (2, N'Burak', N'Taş', N'Sayman', N'sadasd', N'sadasd', N'26285617580', N'Mühendislik Fakültesi', N'151001041', N'05346682748', N'sadsad', N'fatih@h.com', 12)
INSERT [dbo].[GYonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [GuncelleID]) VALUES (3, N'Burak', N'Taş', N'Sekreter', N'sadasd', N'asdsad', N'26285617580', N'Mühendislik Fakültesi', N'151001043', N'05346682748', N'sadsad', N'fatih@h.com', 12)
SET IDENTITY_INSERT [dbo].[GYonetimKurulu] OFF
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([ID], [adi], [soyadi], [ogrMail], [sifre], [ogrNo], [tc], [kayitTarihi]) VALUES (2, N'AAA', N'BBB', N'abc@gmail.com', N'123', N'151001020', N'21239856255', CAST(N'2018-01-12' AS Date))
INSERT [dbo].[Kullanici] ([ID], [adi], [soyadi], [ogrMail], [sifre], [ogrNo], [tc], [kayitTarihi]) VALUES (3, N'Mehmet', N'Ozcelik', N'mehmet.oz@gmail.com', N'123', N'151001020', N'26285617580', CAST(N'2018-03-14' AS Date))
INSERT [dbo].[Kullanici] ([ID], [adi], [soyadi], [ogrMail], [sifre], [ogrNo], [tc], [kayitTarihi]) VALUES (8, N'Mehmet', N'Ozcelik', N'mehmet.test@gmail.com', N'123', N'151001020', N'26285617580', CAST(N'2018-01-12' AS Date))
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
SET IDENTITY_INSERT [dbo].[OgrenciListesi] ON 

INSERT [dbo].[OgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [basvuruID]) VALUES (22, N'Cumali', N'Cuma', N'Teknoloji Fakültesi', N'26285617580', N'151001041', N'05346682748', N'cumali@cuma.com', 4)
INSERT [dbo].[OgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [basvuruID]) VALUES (23, N'Burak', N'Taş', N'Mühendislik Fakültesi', N'26285617580', N'151001020', N'05346682748', N'fatihcrazyboyasadasfasdfasdfsadfsadfadsfsdafsadfasdflukukjkjkjkj@h.com', 4)
INSERT [dbo].[OgrenciListesi] ([ID], [adi], [soyadi], [fak], [tc], [ogrNo], [tel], [mail], [basvuruID]) VALUES (24, N'Hamza', N'Taşkın', N'Teknoloji Fakültesi', N'26285617596', N'151001029', N'05346682748', N'resulkara@duzce.edu.tr', 4)
SET IDENTITY_INSERT [dbo].[OgrenciListesi] OFF
SET IDENTITY_INSERT [dbo].[YonetimKurulu] ON 

INSERT [dbo].[YonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [basvuruID], [Baskan]) VALUES (20, N'Fatih', N'Karaüzüm', N'Yönetim Kurulu Başkanı', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3, NULL)
INSERT [dbo].[YonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [basvuruID], [Baskan]) VALUES (29, N'Burak', N'Taşkın', N'Yönetim Kurulu Başkanı', NULL, NULL, N'26285617596', NULL, N'141001041', N'05436547898', NULL, N'taskin@t.com', 8, 1)
INSERT [dbo].[YonetimKurulu] ([ID], [adi], [soyadi], [unvan], [bolum], [adres], [tc], [fakulte], [ogrNo], [gsm], [evTel], [eMail], [basvuruID], [Baskan]) VALUES (31, N'Halim', N'Harap', N'Yönetim Kurulu Başkanı', NULL, NULL, N'26285617580', NULL, N'151001036', N'05346682748', NULL, N'necmiaksoy@duzce.edu.tr', 10, 1)
SET IDENTITY_INSERT [dbo].[YonetimKurulu] OFF
ALTER TABLE [dbo].[Basvuru]  WITH CHECK ADD  CONSTRAINT [FK_Basvuru_Kullanici] FOREIGN KEY([kullanıcıID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Basvuru] CHECK CONSTRAINT [FK_Basvuru_Kullanici]
GO
ALTER TABLE [dbo].[Danisman]  WITH CHECK ADD  CONSTRAINT [FK_Danisman_Basvuru] FOREIGN KEY([basvuruID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[Danisman] CHECK CONSTRAINT [FK_Danisman_Basvuru]
GO
ALTER TABLE [dbo].[DenetimKurulu]  WITH CHECK ADD  CONSTRAINT [FK_DenetimKurulu_Basvuru] FOREIGN KEY([basvuruID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[DenetimKurulu] CHECK CONSTRAINT [FK_DenetimKurulu_Basvuru]
GO
ALTER TABLE [dbo].[FaliyetPlani]  WITH CHECK ADD  CONSTRAINT [FK_FaliyetPlani_Basvuru] FOREIGN KEY([faliyetID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[FaliyetPlani] CHECK CONSTRAINT [FK_FaliyetPlani_Basvuru]
GO
ALTER TABLE [dbo].[GDanisman]  WITH CHECK ADD  CONSTRAINT [FK_GDanisman_Guncelle] FOREIGN KEY([GuncelleID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GDanisman] CHECK CONSTRAINT [FK_GDanisman_Guncelle]
GO
ALTER TABLE [dbo].[GDenetimKurulu]  WITH CHECK ADD  CONSTRAINT [FK_GDenetimKurulu_Guncelle] FOREIGN KEY([GuncelleID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GDenetimKurulu] CHECK CONSTRAINT [FK_GDenetimKurulu_Guncelle]
GO
ALTER TABLE [dbo].[GFaliyetPlani]  WITH CHECK ADD  CONSTRAINT [FK_GFaliyetPlani_Guncelle] FOREIGN KEY([faliyetID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GFaliyetPlani] CHECK CONSTRAINT [FK_GFaliyetPlani_Guncelle]
GO
ALTER TABLE [dbo].[GOgrenciListesi]  WITH CHECK ADD  CONSTRAINT [FK_GOgrenciListesi_Guncelle] FOREIGN KEY([GuncelleID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GOgrenciListesi] CHECK CONSTRAINT [FK_GOgrenciListesi_Guncelle]
GO
ALTER TABLE [dbo].[Guncelle]  WITH CHECK ADD  CONSTRAINT [FK_Guncelle_Kullanici] FOREIGN KEY([kullanıcıID])
REFERENCES [dbo].[Kullanici] ([ID])
GO
ALTER TABLE [dbo].[Guncelle] CHECK CONSTRAINT [FK_Guncelle_Kullanici]
GO
ALTER TABLE [dbo].[GYeniUye]  WITH CHECK ADD  CONSTRAINT [FK_GYeniUye_Guncelle] FOREIGN KEY([GuncelleID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GYeniUye] CHECK CONSTRAINT [FK_GYeniUye_Guncelle]
GO
ALTER TABLE [dbo].[GYonetimKurulu]  WITH CHECK ADD  CONSTRAINT [FK_GYonetimKurulu_Guncelle] FOREIGN KEY([GuncelleID])
REFERENCES [dbo].[Guncelle] ([ID])
GO
ALTER TABLE [dbo].[GYonetimKurulu] CHECK CONSTRAINT [FK_GYonetimKurulu_Guncelle]
GO
ALTER TABLE [dbo].[OgrenciListesi]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciListesi_Basvuru] FOREIGN KEY([basvuruID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[OgrenciListesi] CHECK CONSTRAINT [FK_OgrenciListesi_Basvuru]
GO
ALTER TABLE [dbo].[YeniUye]  WITH CHECK ADD  CONSTRAINT [FK_YeniUye_Basvuru] FOREIGN KEY([basvuruID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[YeniUye] CHECK CONSTRAINT [FK_YeniUye_Basvuru]
GO
ALTER TABLE [dbo].[YonetimKurulu]  WITH CHECK ADD  CONSTRAINT [FK_YonetimKurulu_Basvuru] FOREIGN KEY([basvuruID])
REFERENCES [dbo].[Basvuru] ([ID])
GO
ALTER TABLE [dbo].[YonetimKurulu] CHECK CONSTRAINT [FK_YonetimKurulu_Basvuru]
GO
